html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: grey;
}

.navbar {
	text-align: center;
}

.footer {
	text-align: center;
}

.main-container {
	text-align: center;
}